@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f7f9;
}

.custom-container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.blue-button {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #3563E9;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color .3s;
}

.blue-button:hover {
  background-color: blueviolet;
}